[submodule "fpga/fpga-shells"]
	path = fpga/fpga-shells
	url = https://github.com/chipsalliance/rocket-chip-fpga-shells.git
[submodule "generators/bar-fetchers"]
	path = generators/bar-fetchers
	url = https://github.com/ucb-bar/bar-fetchers.git
[submodule "generators/boom"]
	path = generators/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "generators/caliptra-aes-acc"]
	path = generators/caliptra-aes-acc
	url = https://github.com/ucb-bar/caliptra-aes-acc.git
[submodule "generators/constellation"]
	path = generators/constellation
	url = https://github.com/ucb-bar/constellation.git
[submodule "generators/cva6"]
	path = generators/cva6
	url = https://github.com/ucb-bar/cva6-wrapper.git
[submodule "generators/diplomacy"]
	path = generators/diplomacy
	url = https://github.com/chipsalliance/diplomacy.git
[submodule "generators/fft-generator"]
	path = generators/fft-generator
	url = https://github.com/ucb-bar/FFTGenerator.git
[submodule "generators/gemmini"]
	path = generators/gemmini
	url = https://github.com/ucb-bar/gemmini.git
[submodule "generators/hardfloat"]
	path = generators/hardfloat
	url = https://github.com/ucb-bar/berkeley-hardfloat.git
[submodule "generators/ibex"]
	path = generators/ibex
	url = https://github.com/ucb-bar/ibex-wrapper.git
[submodule "generators/icenet"]
	path = generators/icenet
	url = https://github.com/firesim/icenet.git
[submodule "generators/mempress"]
	path = generators/mempress
	url = https://github.com/ucb-bar/mempress.git
[submodule "generators/nvdla"]
	path = generators/nvdla
	url = https://github.com/ucb-bar/nvdla-wrapper.git
[submodule "generators/riscv-sodor"]
	path = generators/riscv-sodor
	url = https://github.com/ucb-bar/riscv-sodor.git
[submodule "generators/rocc-acc-utils"]
	path = generators/rocc-acc-utils
	url = https://github.com/ucb-bar/rocc-acc-utils.git
[submodule "generators/rocket-chip"]
	path = generators/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "generators/rocket-chip-blocks"]
	path = generators/rocket-chip-blocks
	url = https://github.com/chipsalliance/rocket-chip-blocks.git
[submodule "generators/rocket-chip-inclusive-cache"]
	path = generators/rocket-chip-inclusive-cache
	url = https://github.com/chipsalliance/rocket-chip-inclusive-cache.git
[submodule "generators/shuttle"]
	path = generators/shuttle
	url = https://github.com/ucb-bar/shuttle.git
[submodule "generators/testchipip"]
	path = generators/testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "sims/firesim"]
	path = sims/firesim
	url = https://github.com/firesim/firesim.git
[submodule "software/baremetal-ide"]
	path = software/baremetal-ide
	url = https://github.com/ucb-bar/Baremetal-IDE.git
[submodule "software/coremark"]
	path = software/coremark
	url = https://github.com/ucb-bar/coremark-workload.git
[submodule "software/embench/embench-iot"]
	path = software/embench/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "software/firemarshal"]
	path = software/firemarshal
	url = https://github.com/firesim/FireMarshal.git
[submodule "software/nvdla-workload"]
	path = software/nvdla-workload
	url = https://github.com/ucb-bar/nvdla-workload.git
[submodule "software/spec2017"]
	path = software/spec2017
	url = https://github.com/ucb-bar/spec2017-workload.git
[submodule "toolchains/libgloss"]
	path = toolchains/libgloss
	url = https://github.com/ucb-bar/libgloss-htif.git
[submodule "toolchains/riscv-tools/riscv-isa-sim"]
	path = toolchains/riscv-tools/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "toolchains/riscv-tools/riscv-openocd"]
	path = toolchains/riscv-tools/riscv-openocd
	url = https://github.com/riscv/riscv-openocd.git
[submodule "toolchains/riscv-tools/riscv-pk"]
	path = toolchains/riscv-tools/riscv-pk
	url = https://github.com/riscv-software-src/riscv-pk.git
[submodule "toolchains/riscv-tools/riscv-spike-devices"]
	path = toolchains/riscv-tools/riscv-spike-devices
	url = https://github.com/ucb-bar/spike-devices.git
[submodule "toolchains/riscv-tools/riscv-tests"]
	path = toolchains/riscv-tools/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "toolchains/riscv-tools/riscv-tools-feedstock"]
	path = toolchains/riscv-tools/riscv-tools-feedstock
	url = https://github.com/ucb-bar/riscv-tools-feedstock.git
[submodule "tools/DRAMSim2"]
	path = tools/DRAMSim2
	url = https://github.com/firesim/DRAMSim2.git
[submodule "tools/axe"]
	path = tools/axe
	url = https://github.com/CTSRD-CHERI/axe.git
[submodule "tools/cde"]
	path = tools/cde
	url = https://github.com/chipsalliance/cde.git
[submodule "tools/circt"]
	path = tools/circt
	url = https://github.com/llvm/circt.git
[submodule "tools/install-circt"]
	path = tools/install-circt
	url = https://github.com/circt/install-circt.git
[submodule "tools/rocket-dsp-utils"]
	path = tools/rocket-dsp-utils
	url = https://github.com/ucb-bar/rocket-dsp-utils.git
[submodule "tools/torture"]
	path = tools/torture
	url = https://github.com/ucb-bar/riscv-torture.git
[submodule "tools/dsptools"]
	path = tools/dsptools
	url = https://github.com/ucb-bar/dsptools.git
[submodule "tools/fixedpoint"]
	path = tools/fixedpoint
	url = https://github.com/ucb-bar/fixedpoint.git
[submodule "generators/rerocc"]
	path = generators/rerocc
	url = https://github.com/ucb-bar/rerocc.git
[submodule "generators/compress-acc"]
	path = generators/compress-acc
	url = https://github.com/ucb-bar/compress-acc.git
[submodule "generators/saturn"]
	path = generators/saturn
	url = https://github.com/ucb-bar/saturn-vectors.git
[submodule "software/firesim-paper-workloads"]
	path = software/firesim-paper-workloads
	url = https://github.com/firesim/firesim-paper-workloads.git
[submodule "generators/ara"]
	path = generators/ara
	url = https://github.com/ucb-bar/ara-wrapper.git
[submodule "tools/firrtl2"]
	path = tools/firrtl2
	url = https://github.com/ucb-bar/firrtl2.git
[submodule "generators/vexiiriscv"]
	path = generators/vexiiriscv
	url = https://github.com/ucb-bar/vexiiriscv-tile.git
[submodule "software/zephyrproject/zephyr"]
	path = software/zephyrproject/zephyr
	url = https://github.com/ucb-bar/zephyr.git
[submodule "software/tacit_decoder"]
	path = software/tacit_decoder
	url = https://github.com/ucb-bar/tacit_decoder.git
[submodule "generators/tacit"]
	path = generators/tacit
	url = https://github.com/ucb-bar/tacit.git
[submodule "generators/radiance"]
	path = generators/radiance
	url = https://github.com/ucb-bar/radiance.git
