[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/ucb-bar/rocket-chip.git
[submodule "testchipip"]
	path = testchipip
	url = https://github.com/ucb-bar/testchipip.git
[submodule "barstools"]
	path = barstools
	url = https://github.com/ucb-bar/barstools.git
